/* Custom CSS
   Rachel Middleton
*/

/* background colors */
.about {
	background-color: #DFF8EB;
}
.services {
	background-color: #011638;
}
.portfolio {
	background-color: #CDCDCD;
}
.call-to-action {
	background-color: #364156;
}
footer {
	background-color: #CDCDCD;
}
/* icons */
.fa-stack > i.text-primary {
	color: #011638;
}
i.fa.text-primary {
	color: #011638;
}
/* footer social icons */
a > i {
	color: #011638;
}
/* Links */
a {
	color: #214E34;
	font-weight: 500;
}
a:hover {
	color: #20bf63;
}
/* hamburger bars */
i.fa.fa-bars {
	color: #FFFFFF;
}



.text-vertical-center h1 {
	color: #455168;
	text-shadow: 2px 2px #121212;
	/*text-shadow: 0 1px 0 #ccc, 
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(118,118,118,.1),
                 0 0 5px rgba(118,118,118,.1),
                 0 1px 3px rgba(118,118,118,.3),
                 0 3px 5px rgba(118,118,118,.2),
                 0 5px 10px rgba(118,118,118,.25),
                 0 10px 10px rgba(118,118,118,.2),
                 0 20px 20px rgba(118,118,118,.15);*/
	text-transform: uppercase;
}
header > div > h3 {
	color: #121212;
}
body {
	color: #121212 !important;
}

.call-to-action {
	text-align: center;
}