<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>ALL OUT FOR UNCLE SAM!</h2>  
        <p>"All out for Uncle Sam" is a collective effort in Northern Utah to document the impact of World War II on the area.</p>

        <p>We are looking for stories, photographs, diaries, letters, artifacts that show both the home front and war front. While the boys were off fighting in the war, older men, women, and children did all they could to support the war effort. They worked in factories, military installations, rationed food and gas, and collected paper and scrap metal. This project will be exhibited at the Ogden Union Station March 2018 and travel to various locations around Northern Utah. Help us to preserve the history of the "Greatest Generation" for years to come and share your stories with us.</p>
        <!-- <p class="lead"><a target="_blank" href="http://library.weber.edu/">Stewart Library</a></p> -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
