<aside class="call-to-action bg-primary">
  <div id="community" class="container">
  	<h3><center>COMMUNITY PARTNERS</center></h3>
	  	<hr class="small">
		  	<div class="row">
			  <div class="col-sm-4">
			  	Ogden Union Station<br>
				Weber State University Special Collections<br>
				Weber State University History Department<br>
				Hill Aerospace Museum
			  </div>
			  <div class="col-sm-4">
			  	Ogden Standard Examiner<br>
				R.A.M.P.<br>
				Utah Humanities Council and Utah State History<br>
				Venture Academy<br>
			  </div>
			  <div class="col-sm-4">
			  	Ogden High School<br>
				Fort Douglas Museum<br>
				VFW of Layton and Ogden<br>
			  </div>
		</div>
  </div>
</aside>
