<footer>
  <div id="footer" class="container">

<div class="row">
  <br>
<div class="col-sm-4 vertical-align">
  <img id="weber" class="logos" src="img/logos/weber.png" alt="Weber State" width="150px">
</div>

<div class="col-sm-4 text-center">
<br>
<h4><strong>Special Collections</strong></h4>
  <p>3921 Central Campus Dr. Dept. 2901<br>
       Ogden, UT 84408-2901<br>
       Third Floor, South<br>
       L320</p>
    <ul class="list-unstyled">
      <li><i class="fa fa-phone fa-fw"></i>(801) 626-6540</li>
      <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:specialcollections@weber.edu">specialcollections@weber.edu</a></li>
    </ul>
  <br>
</div>

<div class="col-sm-4 vertical-align">
  <img id="union" class="logos" src="img/logos/union.png" alt="Union Station" width="150px">
</div>
</div>

<div class="row text-center">
  <div class="col-lg-10 col-lg-offset-1 text-center">
  <ul class="list-inline">
      <li>
          <a href="https://www.facebook.com/StewartLibrarySpecialCollections" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
        </li>
    </ul>
    <hr class="small">
    <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
</div>
</div>

 <!--    <div class="row">  
       <div class="col-lg-10 col-lg-offset-1 text-center">
        <br>
        <h4><strong>Special Collections</strong>
        </h4>
        <p>3921 Central Campus Dr. Dept. 2901<br>
          Ogden, UT 84408-2901<br>
          Third Floor, South<br>
          L320</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i>(801) 626-6540</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:specialcollections@weber.edu">specialcollections@weber.edu</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/StewartLibrarySpecialCollections" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div> -->
  </div>
</footer>
