<div id="lecture" class="lecture container">
  <section id="lecture_series">
    <br>
    <h3><center>LECTURE SERIES</center></h3>
    <table style="width:90%;margin:0 auto;float:none" class="table table-bordered">
      <tr class="active">
        <th>Date</th> 
        <th>Time</th>
        <th>Location</th>
        <th>Title</th>
        <th>Speaker</th> 
      </tr>
      <tr>
        <td>January 21, 2018</td>
        <td>1:00 p.m.</td>
        <td>Stewart Library</td> 
        <td>"Splinters of a Nation”</td>
        <td>Scott Porter</td>
      </tr>
      <tr>
        <td>February 14, 2018</td>
        <td>1:00 p.m.</td>
        <td>Stewart Library</td> 
        <td>“Children and Play During Wartime”</td>
        <td>Jennifer Terry</td>
      </tr>
      <tr>
        <td>February 28, 2018</td>
        <td>1:00 p.m.</td>
        <td>Stewart Library</td> 
        <td>“The Power of the Zoot”</td>
        <td>Luis Alvarez</td>
      </tr>
      <tr>
        <td>March 14, 2018</td>
        <td>1:00 p.m.</td>
        <td>Stewart Library</td> 
        <td>“The Challenges of Chronicling the Personal Stories of the WWII Generation for a Global Television Audience.”</td>
        <td>Tim Gray</td>
      </tr>
      <tr>
        <td>March 28, 2018</td>
        <td>1:00 p.m.</td>
        <td>Stewart Library</td> 
        <td>“Hollywood and the Home Front”</td>
        <td>John Jensen</td>
      </tr>
      <tr>
        <td>April 11, 2018</td>
        <td>1:00 p.m.</td>
        <td>Stewart Library</td> 
        <td>“Historical Memories of Japanese American Internment”</td>
        <td>Alice Yang</td>
      </tr>
      <tr>
        <td>April 13, 2018</td>
        <td>7:00 p.m.</td>
        <td>Union Station</td> 
        <td>“Bushnell Hospital”</td>
        <td>Andrea Kaye Carter</td>
      </tr><tr>
        <td>April 20, 2018</td>
        <td>7:00 p.m.</td>
        <td>Union Station</td>
        <td>“Red Cross Canteen”</td>
        <td>Lorris Rands</td>
      </tr><tr>
        <td>May 11, 2018</td>
        <td>7:00 p.m.</td>
        <td>Union Station</td> 
        <td>“Gasa Gasa Girl Goes To Camp”</td>
        <td>Lily Havey</td>
      </tr><tr>
        <td>May 25, 2018</td>
        <td>7:00 p.m.</td>
        <td>Union Station</td>
        <td>“Mexico Invasion: Latino”</td>
        <td>Paul Hibbeln</td>
      </tr>
    </table>
    

      <!--
      March 14, 2018      1:00 p.m. Stewart Library   Tim Gray  “The Challenges of Chronicling the Personal Stories of the World War II Generation for a Global Television Audience.”
      March 28, 2018      1:00 p.m. Stewart Library   John Jensen   “Hollywood and the Home Front”
      April 11, 2018      1:00 p.m. Stewart Library   Alice Yang  “Historical Memories of Japanese American Internment”
      April 13, 2018      7:00 p.m. Union Station   Andrea Kaye Carter  “Bushnell Hospital”
      April 20, 2018      7:00 p.m. Union Station   Lorrie Rands  “Red Cross Canteen”
      May 11, 2018      7:00 p.m. Union Station   Lily Havey  “Gasa Gasa Girl Goes to Camp”
      May 25, 2018      7:00 p.m. Union Station   Paul Hibbeln  “Mexican Invasion: Latino Victory Workers.
    </div>
    <!-->
    <!-- end row -->
  </section>

  <section><center>
    <h3>Exhibit</h3>

    <p>Opens March 17, 2018 with a lecture by Tim Gray starting at 10 a.m. in the Browning Annex. Runs until June 2, 2018 and then travels around the state.</p>
  </center>
  </section>

<br>

  <section><center>
    <h3>Preview Dinner</h3>

    <p>Special by invitation only to our donors and interviewees. March 16, 2018 from 6-9 p.m. Includes dinner, dancing, and photographs. 1940s attire is strongly encouraged.</p>
  </center>
  </section>

  <br>
  
</div><!--end container-->












<!--<section id="map" class="map">
  <iframe id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key={{ site.google_api_key }}&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </iframe>
  <br>
  <small id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key={{ site.google_api_key }}&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </small>
</section>-->